<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinkerBolt</title>
    <link rel="stylesheet" href="stylesheets/constants.css">
    <link rel="stylesheet" href="stylesheets/home_page.css">
    <script src="javascripts/home_page.js"></script>
</head>
<body>
<div class="topbar">
    <div class='topbar_top'>
        <div class="topbar_left">
            <img class='menu' src="images/menu_svg.svg" alt='menu'/>
        </div>
        <span class="heading">Tinker Bolt</span>
        <div class="topbar_right">
            <img class="search" src="images/search.svg" alt="SEARCH"/>
        </div>
    </div>
    <div class="topbar_bottom">
        <span>Home</span>
        <span>Courses</span>
        <span>Contact</span>
        <span>About</span>
    </div>
</div>
<div class="home_page_card">
    <div class="top_left_page_card">
        <h1>Do you know how our cloud works?</h1>
        <h2>=> Ofcourse, It rains services.</h2>
    </div>
    <div class="top_right_page_card">
        <img alt="iot_kid" src='images/iot_kid.jpeg'/>
        <h1>CloudBolt helps organizations optimize their cloud spend by providing granular cost controls and insights</h1>
        <span>Our helpful tools</span>
    </div>
</div>
</body>
</html>